body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    margin-bottom: 8px;
}

#container {
    display:flex;
    flex-wrap:wrap;
    width: 600px;
    height: auto;
    border-color: black;
    border-width: 6px;
    border-style: solid;
}

.sqDiv {
    border: 1px solid black; 
    height: 10px; 
    width: 10px;
}

